@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Josefin Sans', sans-serif;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginContainer > input,button{
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 3px;
}